frontend/web/tmp/PocWSDL/Air_RebookAirSegmentReply_14_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/ARBKUR_14_1_1A" xmlns="http://xml.amadeus.com/ARBKUR_14_1_1A" elementFormDefault="qualified">
  <xs:element name="Air_RebookAirSegmentReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="messageErrorInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorCoded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorCode">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCategory" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCodeOwner" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorDescription" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="freeTextDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="textSubjectQualifier">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="source">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="encoding">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="freeText" maxOccurs="99">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="199" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="originDestinationDetails" minOccurs="0" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="originDestination">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="origin">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="25" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="destination">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="25" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="itineraryInfo" maxOccurs="20">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flightDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="flightDate">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="departureDate">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="35" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="departureTime" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="arrivalDate" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="35" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="arrivalTime" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="dateVariation" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="1" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="boardPointDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="trueLocationId">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="25" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="offpointDetails" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="trueLocationId">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="25" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="companyDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="marketingCompany">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="35" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="flightIdentification">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="flightNumber">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="35" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="bookingClass">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="17" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="operationalSuffix" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="flightTypeDetails" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="flightIndicator" maxOccurs="9">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="6" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="itemNumber" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="specialSegment" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="marriageDetails" minOccurs="0" maxOccurs="99">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="relation" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="marriageIdentifier" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: n..10</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="lineNumber" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="otherRelation" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="carrierCode" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="35" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="relatedFlightInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="quantity">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="statusCode" minOccurs="0" maxOccurs="10">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="flightCharacterisitics" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="freeTextDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="textSubjectQualifier">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="source">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="encoding">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="freeText" maxOccurs="99">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="199" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="segmentErrorInfo" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorCoded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="errorDetails">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="errorCode">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="errorCategory" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="errorCodeOwner" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="errorDescription" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="freeTextDetails">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="textSubjectQualifier">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="source">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="encoding">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="freeText" maxOccurs="99">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="199" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A8ADC7618123B4553B40174706B271BB6A485936297008162318E5059F244B9A851F4DD47D90ED60203B65D0C92927F921FA965B6CEF2649BA5FBFB35BF88A7B3717C399ECE463F401A4029DA517C3D9F5DCD67D7A3E56AFB398EE771CC9255E2DB1A70A134185101670781B0260B6B51003F795FCFA3E8A5D2135109090D4E0A5B45ECD018A921558E4708DE2B5362245581AC3841F1B4A16F25B8770DB0C24AA02BC88D35C1AB2A30E41D85C6CEAD8569433E6E1AAD2950B74E9527DFBB128EA2D17EE9EA2D55297B45699B83860DFC6CC014F0207C711AE4C0DCFE53F5607EDF790DFDBFED5F9FC1A1B2862C071A48862C515286F68D1D894EDE68AAD106509DDFD1EA7E0ED65F04B42D841E5AD4B694C42D9DEFBE6449BACBA43A8AC26FADD5B8CBB6FB54A117C6DF11190246A8762BE19E2020EEEF60071777DF6D495AA6EC0AE9C054E04A185074F6428196B8B1CE13BB731C91AA4A3000FD184BC10BA5874199FF02545B65FC1A7C3F8CAE1867AD7FC7A7F3C3BE4C58DF40E089B4A7F14D14DF0C315C58976845DAD88B20B8675500A6AAF0945BB8B6678895703EE83E1A5528DF0E8D78270C6A11AE121D4EA4311A94B7C92A7A95A015B521687DDE2674CA427972D8D65E8276E5EEE38E52A463D5617941EDEF1B5F377E61B504C74380B1F178D533FC8423658ED6555D11E331EB09F169C2DE25E7C943B24F94DB4F6717B4CE955086275F73062F35CD6A2F709F664BBECD1FB3F36C46C281E0D3ABF81CE0497EFBED316735BD0585A7F3DB1846C3A7643DAB302F3EEBB1888E200F59733858FB44D606CAD0293B4FE98FA739D4BA65C3F4F9F492FD021E0317F769040000
-->

