frontend/web/tmp/PocWSDL/DocIssuance_IssueTicketReply_15_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TTKTIR_15_1_1A" xmlns="http://xml.amadeus.com/TTKTIR_15_1_1A" elementFormDefault="qualified">
  <xs:element name="DocIssuance_IssueTicketReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="processingStatus">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="statusCode">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: a..6</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="6" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="errorGroup" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorOrWarningCodeDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorCode">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="5" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCategory" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCodeOwner" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorWarningDescription" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="freeTextDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="textSubjectQualifier">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="source">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="encoding">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="freeText">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="199" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A8ADC7618123BDD82AD0174F06A271BB6A445EADE0218AACC244265C913E5A246D1771F253B587B18B65D0292A17F921FA975B12D765959E4D5F5965FA4F3C534FD3C4D3F4C36D6D4A29FA49F968BF932BD98AC37E5FB345DA629CB3699EF5BC095D26044039CDD0B842D59D80A09FCE47DBB4C92A746CF44236AE870266D93B0FBCED41A72E57882E0BD32474C6A2591C913C8875BFA6D04F7AE03266D0D9482DC5813BCA60143DE41688C6E2B4C1FEA71D3694D81B677EA78F2835BC34174DAAF5D5B5297F5A058DBEE5EC32DFCECC048B8115E9E4639305FFEA97B30BF739EC3FC2FD5F3233854D690E54003C990258E54A17F6107A2B3EB34F56803A8E8475AF1E360FD45405B29F438A2B6C79AB8E5CBFDD722CBF745AD0E42FAD25A8DFBA2AC72855E187F45640818A1DA6F847B808078C8C10817F73FEC91B4CC313612C134E08E30A288F64A81AEF1D63A4FECCE7144EA2AC300F46D2C072F941E1765FE0B506B95F15BF0C3326233CE5AFF8A4FF4C3BDCCD83040E08974A4E965925E8E315C59976945DA388820B847250173253DD516AE1F1862239C0FBA774649E5FB7110EF84412D422AD1E1441A9351B9CC36C9730D5AD11882CEE76546FFB2D05E3D5EEB2041B772F5F646291259452C4FA8FD75E7DBCEAFACAEC1F110606C3ADD0C0CDFE1449983754D6C623A6503213ECFD8ABE23CBBC9AADCCA6F889DA01BAEE68B8F74D68D508697DF4B064F2DEDAC1258E5C59A97BBBBE2BCA3897020F89C5EEE18E0257DF06DC75A7A130A4FE73732AE88CFC97A54616F64463C2292E4AFAB07034A25E9CAD879617F4AD841AB7B36DE029F2FD82F3FCDFD0A74040000
-->

