frontend/web/tmp/PocWSDL/Fare_CalculateExcessBaggageReply_08_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/FEBQXR_08_1_1A" xmlns="http://xml.amadeus.com/FEBQXR_08_1_1A" elementFormDefault="qualified">
  <xs:element name="Fare_CalculateExcessBaggageReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="msgType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="messageFunctionDetails" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="businessFunction" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="messageFunction" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="responsibleAgency" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="additionalMessageFunction" minOccurs="0" maxOccurs="20">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="responseType" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                    </xs:annotation>
                    <xs:minLength value="1" />
                    <xs:maxLength value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="originDestination" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="origin" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Format limitations: an3..5</xs:documentation>
                    </xs:annotation>
                    <xs:minLength value="3" />
                    <xs:maxLength value="5" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="destination" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Format limitations: an3..5</xs:documentation>
                    </xs:annotation>
                    <xs:minLength value="3" />
                    <xs:maxLength value="5" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dateOfFlight" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dateAndTimeDetails" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="qualifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="date" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n6</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="6" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="time" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="otherQualifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="otherTime" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="movementType" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="location" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="25" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="statusInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="statusDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indicator" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="action" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="type" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="description" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="70" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="otherStatusDetails" minOccurs="0" maxOccurs="98">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indicator" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="action" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="type" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="description" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="70" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="infoText" minOccurs="0" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="freeTextQualification" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="textSubjectQualifier">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="informationType" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="4" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="status" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="companyId" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="language" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="freeText" minOccurs="0" maxOccurs="99">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                    </xs:annotation>
                    <xs:minLength value="1" />
                    <xs:maxLength value="70" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="errorInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="rejectErrorCode">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorCode">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCategory" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCodeOwner" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorFreeText" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="freeTextQualification" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="textSubjectQualifier">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="informationType" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="status" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="companyId" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="language" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="freeText" minOccurs="0" maxOccurs="99">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="70" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="excessBaggageGrp" minOccurs="0" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="excessBaggage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="excessBaggageDetails" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="currency" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="amount" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="processIndicator" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="baggageDetails" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="freeAllowance" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="measurement" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="quantityCode" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="unitQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="processIndicator" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="otherBaggageDetails" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="freeAllowance" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="measurement" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="quantityCode" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="unitQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="processIndicator" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="extraBaggageDetails" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="freeAllowance" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="measurement" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="quantityCode" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="unitQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="processIndicator" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="bagTagDetails" minOccurs="0" maxOccurs="99">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="company" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="identifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="number" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="location" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="25" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="companyNumber" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..15</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="15" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="indicator" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="characteristic" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="specialRequirement" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="measurement" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="unitQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="description" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="70" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="monetaryValues" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="monetaryDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="typeQualifier">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="amount" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="currency" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="location" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="25" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="otherMonetaryDetails" minOccurs="0" maxOccurs="19">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="typeQualifier">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="amount" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="currency" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="location" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="25" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="fareQualif" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="movementType" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="fareCategories" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="fareType">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="20" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="otherFareType" minOccurs="0" maxOccurs="8">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="20" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="fareDetails" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="qualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="rate" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..8</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="country" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="fareCategory" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="additionalFareDetails" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="rateClass" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="commodityCategory" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..18</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="18" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="pricingGroup" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="secondRateClass" minOccurs="0" maxOccurs="29">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="discountDetails" minOccurs="0" maxOccurs="9">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="fareQualifier">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="rateCategory" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="amount" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="percentage" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..8</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="amountCvtRate" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="conversionRateDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="conversionType" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="currency" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="rateType" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="pricingAmount" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="convertedValueAmount" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="dutyTaxFeeType" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="measurementValue" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="measurementSignificance" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="otherConvRateDetails" minOccurs="0" maxOccurs="19">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="conversionType" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="currency" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="rateType" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="pricingAmount" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="convertedValueAmount" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="dutyTaxFeeType" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="measurementValue" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="measurementSignificance" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 4.1 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000008590CD6EC2301084EF7E0AEE55895B412522E51009C289B402AA1E91B117B0E49FD4EB548D10EFDE7512AADE2AF930DE5DCF7CDEF5AA5E6DCBFD6A7978AD8B67FEC41FF99CCEE403940354A29BF0453E9FE5B397C97AB37FE03CE79C3961011B21A1B8C6AE81DBE1FA0501B577A4021810986AE20C4E763726BDB5E0221627611098F1EE9C0C8A185A60CAB747033BF86C6918DE449497A171D206B6AD81C2F98A647FEF9FF59149FD134B88487A0951688364E3806AE10C23C7B7357B721A1AE5A64CB658DD5318CA0B58910890F6C217195FB034A2767D633469BC76B186F8077CCC2DB1771FC6A4578010478A2381D6BF2BBCC4D8E45946385361858216A7B4B18C05EFE39FCF32B422C424DF9D963A76A3F5C089950FA5D1648C770AFA69A5C128DCF910418DE33F6FFAC3CFF0010000
-->

