frontend/web/tmp/PocWSDL/Ticket_CancelDocumentReply_11_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TRCANR_11_1_1A" xmlns="http://xml.amadeus.com/TRCANR_11_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_CancelDocumentReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transactionResults" maxOccurs="20">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="responseDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="responseType">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="statusCode">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sequenceNumberDetails" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="itemNumberDetails" maxOccurs="2">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="number" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="type" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ticketNumbers" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="documentDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="number">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="status" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorGroup" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorOrWarningCodeDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="errorCode">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="5" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="errorCategory" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="errorCodeOwner" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="errorWarningDescription" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="freeTextDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="textSubjectQualifier">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="source">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="encoding">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="freeText" maxOccurs="99">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="199" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sacNumber" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="referenceDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="type">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="value" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..14</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="14" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A8ADC761812DB4351B40174F0E22497252D12F716C0506426112A4B9E2817358ABEFB28D9C15A60C0B68B4152F24FF223B55E6E97BBBC5C16D5C3967F4BB36C9ADE4DD36CB2B1A616FD24BD9BA7F7F39B74B2DE945FD3749EA62CDFE4BE6F01574A83110D707614085BB2B01512F8C5FB769E24AF8D9E8946D4D0E14CDA2661C7CED41A0AE57882E0BD32674C6A2591C90BC8E73D7D1BC1BDEB80495B035D416EAC095ED38021EF243446B715A60FF9B8E9B4A640DB3B75BEF8C1ADE1243AEDD7AE2DA9CA7A50AC6D77D4B0879F1D18098FC2CBCB2807E6FB3F550FE6F79DB7D0FF7BF5F6020E95356439D0403264893365E8DFD989E8EC3A4D35DA002AFA9156FC39587F11D0560A3DB6A8EDB9266EC5FCB0ACD549485F5AABF1B02CAB42A117C62F080AB1224A878D70CF10E80E773072C5C30F7B2619738E3544260DB8338C14A2BD52A06BDC5BE709DB358E4805E518587E8E15E085D2E38CCC7FB169AD327E0B7E98432CC659EB3FA0897E5895191B1A082891F633BD4FD2FB31862BEB72AD481B071104F7A22460A1A4A7DCC2F5033E6C84F341F7C928A97C3F36E29D30A845B84A743841C664542EF34DF2568356D486A0CD799FD1290BE5D5E3A20E12B4268BCFEB4991C82A627945ED1F3ADF767E65750D8E870063D3E96660F80527CA9CAC6B6211D3291B08F12C671F92F3FC31AF4A2569AC5596DDD0323742195EEE770C5E5B1A5725B02A966B5EEE9E96D7F14C8403C16F6FAF3E1D2EF2ED8EB5F410145EAE0F631C0ECFC87A5161626446302232E463DE85A077A30B2BBBD02CBB0EEACFC73B6875CFC60DE059C67E01331C93E565040000
-->

