frontend/web/tmp/PocWSDL/Ticket_RepricePNRWithLowestFare_12_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TARIBQ_12_2_1A" xmlns="http://xml.amadeus.com/TARIBQ_12_2_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_RepricePNRWithLowestFare">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ticketInfo" maxOccurs="9">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paperticketDetailsFirstCoupon">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="documentDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="number">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="type" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="couponInfoFirst" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="couponDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cpnNumber">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="6" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="otherCouponDetails" minOccurs="0" maxOccurs="3">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cpnNumber">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="6" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="paperInformation" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="paperticketDetailsLastCoupon">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="documentDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="number">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="35" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="type" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="papercouponInfoLast">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="couponDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="cpnNumber">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="6" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="otherCouponDetails" minOccurs="0" maxOccurs="3">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="cpnNumber">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="6" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ticketRange">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="paperticketDetailsfirst">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="documentDetails">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="number">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="35" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="type" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="paperticketDetailsLast">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="documentDetails">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="number">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="35" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="type" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="3" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="overridePaxInformation" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attributeDetails" maxOccurs="30">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="attributeType">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="attributeDescription" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..100</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="100" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="passengerSelection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="referenceDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="type">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="value">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pasSegmentSelection" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="referenceDetails" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="value" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="originalPricingOptionsGroup" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="overrideInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attributeDetails" maxOccurs="30">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="attributeType">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="attributeDescription" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..100</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="100" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="cityOverride" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cityDetail" minOccurs="0" maxOccurs="2">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cityCode" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="cityQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="overrideCurrency" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="monetaryDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="typeQualifier">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="currency">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="otherMonetaryDetails" minOccurs="0" maxOccurs="2">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="typeQualifier">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="currency">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="taxDetails" minOccurs="0" maxOccurs="60">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="taxQualifier">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="taxIdentification">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="taxIdentifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="taxType" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="isoCountry">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="6" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="taxNature" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..15</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="15" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="taxData" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="taxRate" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="17" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="taxValueQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..12</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="12" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="dateOverride" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="businessSemantic">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dateTime" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="year">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n4</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="4" />
                                <xs:maxLength value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="month">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="day">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="discountInformation" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="penDisInformation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="infoQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="penDisData" minOccurs="0" maxOccurs="16">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="penaltyType" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="penaltyQualifier" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="penaltyAmount" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: n..11</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="discountCode" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..11</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="11" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="penaltyCurrency" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="referenceQualifier" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="refDetails" minOccurs="0" maxOccurs="99">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="refQualifier">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="refNumber">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal" />
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="pricingOption" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="waiverCode" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="flightInformation" minOccurs="0" maxOccurs="16">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="itineraryOptions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="globalRoute" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="bookingClass" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="flightDetails" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="flightType">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="6" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="otherFlightTypes" minOccurs="0" maxOccurs="8">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="6" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="itinerarySegReference" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="refDetails" minOccurs="0" maxOccurs="99">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="refQualifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="refNumber" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="frequentFlyerInformationGroup" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="flequentFlyerdetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="frequentTravellerDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="carrier" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="tierLevel" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="35" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="passengerReference" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="passengerReference" maxOccurs="99">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="type">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="10" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="value">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="60" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="flightReference" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="referenceDetails" minOccurs="0" maxOccurs="999">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="type" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="10" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="value" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="60" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B080000000000000095934D6FDB300C86EFFA15B9ED3024FE00B6A20174706B271BD6A45DEAA29700866A318E5059F244B9AB51F4BF8FFE08D69EBA5D0C92A65F920FE975B6CD76499EA5C5F596C76114CFA3681E47B37B9006508A6E169E2FE3B3E597B3D97A937F0EC36518B26493F8AE015C290D46D4C0D98340D892858D28811FBD6F9641F05CEB85A885841617A5AD03F6D01AA921558E0708DE2B5361205589AC3C42F9784BCF5A70EF5A60A5954029C88D35BD57D760C83B088D83DB08D3F5F5B869B5A640D339551DFDE84A388856FBB56B72EA528E8AD2B60F1A6EE1570BA6841BE1CBE32407E6E29FBA07F337E7A59FFFB578790287CA1AB21C682019B2444515BA5776203ABB56538FB60735F803ADE1E3DEFA4040DB52E869446D2B49DCD2E5FE5B96A4FB4CAA83287D6EADC67D9617A9422F8CBF2432048C50ED37C23D428F78CCC1012EEEAF6C455AA61A1A19C0D4E02A98500CF64A8196786B9D2776A738227595600FF47D2C052F949E1665FE0B506395F15BF0E33286669CB5FE0D9FC1EFEF65C1C6017A9E48771A9E07E1F914C395758956A48DA308827B522560AA4A4FB585EB4686580BE77BDD3BA34AE5BB6910EF84412DFA54A2C389340693729E6C8217095AD11882CEE775416F59DF9E9CAE7594A05BB97C7FA31419580D589E51FBEBD637AD5F592DC1F13EC0D87CBE19197EC2993207EBEAA189F99C8D847894B037C579729314B92A69AD45147FA58BAE85323CFF9131786E685D85C022CDD63CDFDD65A7F5CC8403C1E3383C05789EECBE5FFC640DFD0E0A8FA7DF63DA0E8FC97A52FDCA7834921103443E15DE41E388EDCD7677AFFCF1CAFE06F42BAAC14E3BFB3071BA081EC5EC0F03D99E157D040000
-->

